{% extends "base.html" %}
{% set active_page = "satellite" %}
{% block title %} Satellite Tasking {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col"> 
      <h4> Request New Forecast </h4>
      <form action="/satellite", METHOD="POST">
        <input type="submit" value="Update Forecast" class="btn btn-secondary">
      </form>
      <p> Run a new simulation. This may take up to 60 seconds <br/>
        <small>Will not run if time since last update is less than 15 minutes</small> 
      </p>
    </div>
    <div class="col text-end">
      <p>
        Current Time: {{ current_time.strftime("%Y-%m-%d %H:%M") }} UTC <br/>
        Last TOPAZ download: {{ topaz_age }} <br/>
        Last Forecast Run: {{ fc_age }} </p>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Last Known Position</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ lkp.date.strftime("%Y-%m-%d %H:%M") }} UTC</td>
            <td>{{ lkp.lat|round(5) }}</td>
            <td>{{ lkp.lon|round(5) }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Drift Forecast</h2>
      <table class="table table-sm sortable">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          {% for point in fc_points %}
          <tr>
            <td>{{ point.date.strftime("%Y-%m-%d %H:%M") }} UTC</td>
            <td>{{ point.lat|round(5) }}</td>
            <td>{{ point.lon|round(5) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="container">
        <br/>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
        </head>
        <body>
            <div style="display: flex; justify-content: center;">
                {{ plot_div|indent(4)|safe }}
            </div>
        </body>
      </div>
    </div>
  </div>
</div>


{% endblock %}
