{% extends "base.html" %}
{% set active_page = "satellite" %}
{% block title %} Satellite Tasking {% endblock %}

{% block content %}

<div class="container">
  <h3> Coming Soon </h3>
  <form action="/satellite", METHOD="POST">
     <input type="text" placeholder="Time in UTC" name="lead_time">
     <input type="submit" value="Run Forecast" class="btn btn-secondary">
  </form>
  <p> Enter the expected satellite overpass time to recieve a custom forecast </p>
</div>

<br/>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Last Known Position</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ lkp.date }} </td>
            <td>{{ lkp.lat }}</td>
            <td>{{ lkp.lon }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Drift Forecast</h2>
      <table class="table table-sm sortable">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          {% for point in fc_points %}
          <tr>
            <td>{{ point.date }}</td>
            <td>{{ point.lat }}</td>
            <td>{{ point.lon }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="container">
        <br/>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
        </head>
        <body>
            <div style="display: flex; justify-content: center;">
                {{ plot_div|indent(4)|safe }}
            </div>
        </body>
      </div>
    </div>
  </div>
</div>


{% endblock %}
